

body {
    line-height: 1.2em;
    padding: 3% 9% 3% 9%;
}

pre { 
    line-height: 1.05em;
}

footer {
    font-size: small;
    padding-top: 3%;
}

th {
    padding: 3%;
}

table {
    text-align: left;
    padding: 2%;
    border-style: solid;
}
