
body {
    line-height: 1.2em;
    padding: 3% 9% 3% 9%;
}

pre { 
    line-height: 1.05em;
}

footer {
    font-size: small;
    padding-top: 3%;
}

caption {
    padding-top: 4%;
}

th {
    padding: 5px;
}

table {
    text-align: left;
    padding: 1%;
    border-style: solid;
}

.hs-keyword { color: sienna; }
.hs-keyglyph { color: sienna; }
.hs-layout { color: sienna; }
.hs-comment { color: darkred; }
.hs-conid { color: teal; } 
.hs-conop { color: teal; } 
.hs-definition { color: darkslateblue; }
.hs-varid { color: darkslateblue; }
.hs-varop { color: darkslateblue; }

